#orange {
  color: rgb(174, 156, 122);
}

.profile{
  margin: 20px auto;
  width: 300px;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
  background-color: #EEE;
  position: relative;
}
.avartaImg{
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin:20px 0;
  border-radius: 50%;
}
.profile .isNew{
  position: absolute;
  display: block;
  padding: 5px;
  font-weight: 600;
  color: white;
  top: 20px;
  right: 20px;
  background-color: rgb(197, 20, 20);
  border-radius: 8px;
  
}
.banner{
  margin: 0 auto;
  background-color: orange;
  font-size: 2rem;
}
.container{
  margin: auto;
  width: 500px;
}